
.vs/EjMysqlC/FileContentIndex/0d8d175b-8cef-425d-a97d-3fb565665fca.vsidx
.vs/EjMysqlC/FileContentIndex/13de0894-2835-40cf-a281-7a09519441f2.vsidx
.vs/EjMysqlC/FileContentIndex/1db7edcb-c18e-4b58-97c5-3c7060439fa6.vsidx
.vs/EjMysqlC/FileContentIndex/a3d5c34b-00aa-4a59-99d7-b9d889e4b3ad.vsidx
.vs/EjMysqlC/FileContentIndex/e879e7f8-62ce-41cc-8a83-de52e2e030a7.vsidx
.vs/EjMysqlC/v17/.suo
EjMysqlC/bin/Debug/EjMysqlC.pdb
EjMysqlC/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EjMysqlC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EjMysqlC/obj/Debug/EjMysqlC.csproj.AssemblyReference.cache
EjMysqlC/obj/Debug/EjMysqlC.csproj.CoreCompileInputs.cache
EjMysqlC/obj/Debug/EjMysqlC.csproj.FileListAbsolute.txt
EjMysqlC/obj/Debug/EjMysqlC.csproj.GenerateResource.cache
EjMysqlC/obj/Debug/EjMysqlC.pdb
.vs/EjMysqlC/v17/.suo
EjMysqlC/bin/Debug/EjMysqlC.pdb
EjMysqlC/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EjMysqlC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EjMysqlC/obj/Debug/EjMysqlC.csproj.AssemblyReference.cache
EjMysqlC/obj/Debug/EjMysqlC.csproj.CoreCompileInputs.cache
EjMysqlC/obj/Debug/EjMysqlC.csproj.FileListAbsolute.txt
EjMysqlC/obj/Debug/EjMysqlC.csproj.GenerateResource.cache
EjMysqlC/obj/Debug/EjMysqlC.pdb
